/* .x{
    height: 100px ;
    width: 100px;
    background-color: aqua;

    border: 10px rebeccapurple double ;


}
 */

div {
    color: rgb(89, 0, 131);
    
}

h1{
    color: blue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:32px;
    font-weight: 150;



}

p {
    
    text-align:right;







}



















































 

