*{
    padding: 0;
    margin: 0;




}
.all{
    display: inline-block;
    width: 40%;
    background: red;




}


@media screen and (max-width: 400px){
    .all{
        display: block;
        width: 100%;



    }
    body{
        background-color: black;
    }


    
}

@media screen and (min-width:401px) and (max-width:600px){
    body{
        background: blue;
    }
    
}
@media screen and (min-width:601px) and (max-width:768px ){
    body{
        background: green;
    }
    
}













